@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: linear-gradient(
    92.23deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

.active {
  color: #fff;
  padding: 0.8rem;
  border-radius: 100%;
}



.box{
  background-color: transparent;
  
  border: 2px solid rgb(74, 195, 248);
  padding: 5px
  
  
}
.about{
   @apply font-primary font-semibold text-[25px] uppercase
}
.about2{
  @apply font-primary font-semibold text-[20spx] mb-5 ;
}


@layer base {
 
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
 
  .h1{
    color:
    #ff56f6 ;
     
    
      
  }
  .h1{
    @apply font-tertiary  text-[30px]  tracking-[10%]  ;
  } 
 
  .h2 {
    @apply font-primary text-[30px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[43px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[50px] px-8 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#FF56F6] font-bold font-primary hover:from-[#FF56F6] hover:to-[#42A6E3];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}


/************ Skills Css ************/
.skill {
  padding: 0 0 50px 0;
  position: relative;
  margin-top: 150px;
}
.skill-bx {
 
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: 160px;
  
}
.skill h2 {

	font-size: 45px;
	font-weight: 500;
  text-align: center;
  
  
  
}
.skill p {
    color: white;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
    margin-bottom: 45px;
    text-align: center;
}
.skill-slider {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.skill-slider .item img {
  width: 40%;
  
  margin: 0 auto 15px auto;
}
.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 80%;
  z-index: -4;
}